*{
    margin:0;
    padding:0;
}
span{
    list-style: none;
  text-decoration: none;
   color:#D8D8D8;
}
ol,ul{
    list-style: none;
}
a{
    list-style: none;
  text-decoration: none;
   color:#D8D8D8;
}
